<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Contacts</title>
</head>
<body>
    <h1>Contacts</h1>

    {% if contacts is not empty %}
        <p>Here are your contacts:</p>
        <ul>
            {% for contact in contacts %}
                <li>{{ contact.getDescription }}</li>
                <ul>
                    <li>{{ number.getNumber }}</li>
                    <li>{{ address.getAddress }}</li>
                </ul>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/contacts' method='post'>
        <label for='name'>Name</label>
        <input id='name' name='name' type='text'>
        <br>
        <label for='number'>Phone number</label>
        <input id='number' name='number' type='number'>
        <br>
        <label for='address'>Address</label>
        <input id='address' name='address' type='address'><br>
        <button type='submit'>Add contact</button>
    </form>
    <form action='/delete_contacts' method='post'>
        <button type='submit'>Clear</button>
    </form>
</body>
</html>
